 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/632e258ec3fff.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 269px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 27px rgba(255,255,255,1);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-weight: 700;
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 115px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/632e258ec3fff.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 946px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 98px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-image-1 {
  width: 401px;
  height: 200px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 98px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-image-1 {
  width: 401px;
  height: 200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 160px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 200px;
  }
}